<style>
    .footer-review {
        border-bottom: 1px solid rgb(229, 233, 241);
    }

    .footer-review .text {
        color: rgb(82, 82, 96);
        font-size: 24px;
        font-weight: 500;
        font-family: 'Roboto Condensed', sans-serif;
        margin-right: 10px;
    }

    .footer-review p a {
        font-size: 36px;
        margin-left: 20px;
    }

    .footer-review p a:hover {
        color: #FF0800 !important;
        cursor: pointer;
    }

    footer {
        background: rgb(245, 245, 245);
        border-top: 1px solid rgb(229, 233, 241);
        border-bottom: 1px solid transparent;
        margin-top: 30px;
    }

    footer p {
        color: rgb(0, 40, 120);
        font-size: 17px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 14px;
    }

    footer a {
        color: rgb(82, 82, 96);
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        margin-bottom: 14px;
    }

    footer a:hover {
        text-decoration: underline;
    }

    .copyright {
        width: 100%;
        height: 72px;
        background: rgb(245, 245, 245);
        border-top: 1px solid rgb(229, 233, 241);
        padding-top: 17px;
    }

    .copyright p {
        font-weight: 400;
        font-size: 14px !important;
        display: inline-flex;
    }

    .copyright .warning {
        display: inline-flex;
        float: right;
    }

    @media (max-width: 576px) {
        footer a {
            line-height: 35px;
        }

        .copyright {
            height: auto;
        }

        .copyright p {
            display: block;
            text-align: center;
            font-size: 10px !important;
        }

        .copyright .warning {
            padding-bottom: 10px;
            display: block;
            float: none;
        }
    }
</style>
<footer>
    <div class="container">
        <div class="footer-review d-flex align-items-center py-4">
            <div class="d-inline-flex text">Будь ласка, оцініть наш вебсайт&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—</div>
            <div class="d-inline-flex">
                <p style="margin-bottom: 0;">
                    <a onclick="addReview(1);"><i class="fa-regular fa-face-tired"></i></a>
                    <a onclick="addReview(2);"><i class="fa-regular fa-face-frown"></i></a>
                    <a onclick="addReview(3);"><i class="fa-regular fa-face-meh"></i></a>
                    <a onclick="addReview(4);"><i class="fa-regular fa-face-smile"></i></a>
                    <a onclick="addReview(5);"><i class="fa-regular fa-face-laugh-beam"></i></a>
                </p>
            </div>
        </div>
        <div class="d-none d-md-block">
            <div class="d-flex justify-content-between py-5">
                <div class="d-inline-flex">
                    <div class="d-flex flex-column">
                        <p>Інформація</p>
                        <a data-bs-toggle="modal" data-bs-target="#schedule" href="#schedule">Графік роботи</a>
                        <a href="/info/terms/">Умови використання</a>
                        <a style="margin-bottom: 0;" href="/info/privacy/">Політика конфіденційності</a>
                    </div>
                </div>

                <div class="d-inline-flex">
                    <div class="d-flex flex-column">
                        <p>Категорії</p>
                        <a href="/catalog/newest/">Новинки та акції</a>
                        <a href="/catalog/popular/">Популярні товари</a>
                        <a style="margin-bottom: 0;" href="/catalog/other/">Товари інших брендів</a>
                    </div>
                </div>

                <div class="d-inline-flex">
                    <div class="d-flex flex-column">
                        <p>Покупцю</p>
                        <a data-bs-toggle="modal" data-bs-target="#payment" href="#payment">Способи оплати</a>
                        <a data-bs-toggle="modal" data-bs-target="#delivery" href="#delivery">Способи доставки</a>
                        <a style="margin-bottom: 0;" data-bs-toggle="modal" data-bs-target="#refund"
                            href="#refund">Обмін та
                            повернення</a>
                    </div>
                </div>

                <div class="d-inline-flex">
                    <div class="d-flex flex-column">
                        <p>Додатково</p>
                        <a href="/info/partners/">Партнерські програми</a>
                        <a href="https://lviv.prom.ua/c3757257-deutsche-chemie.html">Наша сторінка на Prom.ua</a>
                        <a
                            href="https://docs.google.com/spreadsheets/d/185Di7O7DBnpfkO-SR58t5DoJpewBSjnRbuDp93RmsyI/edit?usp=sharing">Наш
                            прайс у форматі Excel</a>
                    </div>
                </div>

                <div class="d-inline-flex">
                    <div class="d-flex flex-column">
                        <p>Контакти</p>
                        <a>+38 (067) 676-67-39</a>
                        <a>+38 (093) 608-62-87</a>
                        <a>dm.deutschechemie@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-block d-md-none">
            <div class="row pt-3 px-1">
                <div class="col-6 mb-4">
                    <p>Категорії</p>
                    <a href="/catalog/newest/">Новинки та акції</a><br>
                    <a href="/catalog/popular/">Популярні товари</a><br>
                    <a style="margin-bottom: 0;" href="/catalog/other/">Товари інших брендів</a>
                </div>

                <div class="col-6 mb-4">
                    <p>Покупцю</p>
                    <a data-bs-toggle="modal" data-bs-target="#payment" href="#payment">Способи оплати</a><br>
                    <a data-bs-toggle="modal" data-bs-target="#delivery" href="#delivery">Способи доставки</a><br>
                    <a style="margin-bottom: 0;" data-bs-toggle="modal" data-bs-target="#refund" href="#refund">Обмін та
                        повернення</a>
                </div>

                <div class="col-6 mb-4">
                    <p>Інформація</p>
                    <a data-bs-toggle="modal" data-bs-target="#schedule" href="#schedule">Графік роботи</a><br>
                    <a href="/info/terms/">Умови використання</a><br>
                    <a style="margin-bottom: 0;" href="/info/policy/">Політика конфіденційності</a>
                </div>

                <div class="col-6 mb-4">
                    <p>Додатково</p>
                    <a href="/info/partners/">Партнерські програми</a>
                    <a href="https://lviv.prom.ua/c3757257-deutsche-chemie.html">Наша сторінка на Prom.ua</a><br>
                    <a
                        href="https://docs.google.com/spreadsheets/d/185Di7O7DBnpfkO-SR58t5DoJpewBSjnRbuDp93RmsyI/edit?usp=sharing">Наш
                        прайс у форматі Excel</a>
                </div>

                <div class="col-12 pt-3 mb-3 text-center" style="border-top: 1px solid rgb(229, 233, 241);">
                    <p>Контакти</p>
                    <a href="tel:380676766739">+38 (067) 676-67-39</a><br>
                    <a href="tel:380936086287">+38 (093) 608-62-87</a><br>
                </div>

            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <p style="color: rgb(82, 82, 96); font-size: 13px; font-family: 'Roboto', sans-serif; padding-top: 9px;">
                2023-2024,
                Dmark, ФОП (Горгут Т. С.)</p>
            <p class="warning"
                style="color: rgba(82, 82, 96, 0.7); font-size: 13px; font-weight: 300; font-family: 'Roboto', sans-serif; padding-top: 9px;">
                (Вебсайт не має жодного відношення до сайту "dm.de". Компанія Dmark не співпрацює з німецькою компанією
                "dm-drogerie markt")</p>
        </div>
    </div>
</footer>